<div class="modal fade" tabindex="-1" id="alertModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    const showAlertModal = (title, msg) => {
        alertModal.querySelector(".modal-title").textContent = title
        alertModal.querySelector(".modal-body").textContent = msg
        const modal = new bootstrap.Modal(alertModal)
        modal.toggle()
    }
</script>
