<div class="modal modal-xl fade" tabindex="-1" id="gtsModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ground Truths</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div>
                    <button class="btn btn-primary mb-2" id="gtsRefreshBtn">
                        <i class="bi bi-arrow-clockwise"></i> Refresh
                    </button>
                </div>
                <div id="gtsTable"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    let gtsGrid = undefined

    gtsModal.addEventListener("show.bs.modal", (e) => {
        const modalButton = e.relatedTarget
        gtsGrid = createGtsGrid({
            showFilterStatsBtn: modalButton.hasAttribute("data-bs-showFilterStatsBtn")
        })
        setTimeout(() => gtsGrid.render(gtsTable), 250)
    })

    gtsModal.addEventListener("hide.bs.modal", () => {
        gtsGrid.destroy()
    })

    gtsRefreshBtn.addEventListener("click", () => {
        gtsGrid.forceRender()
    })

    const createGtsGrid = ({
        showFilterStatsBtn = false
    } = {}) => {

        const columns = []
        if (showFilterStatsBtn) columns.push({id: "filter stats"})
        columns.push("Ground Truth ID")
        columns.push("Top Sites List ID")
        columns.push("Ground Truth Date")

        return new gridjs.Grid({
            style: gridjsDefaultStyle,
            pagination: gridjsDefaultServerPagination,
            columns: columns,
            server: {
                url: `/api/gts`,
                total: (data) => data.data.total,
                then: (data) => {
                    return data.data.result.map(d => {

                        // filter stats button
                        const filterStatsCell = gridjs.h("div", {}, "")
                        const filterStatsBtn = gridjs.h("button", {
                            type: "button",
                            className: "btn btn-outline-secondary btn-sm",
                            title: "Filter stats with this ground truth",
                            onClick: () => loadStats["ground_truth_analysis"]({gtID: d.gt_id})
                        }, "")
                        filterStatsBtn.props.children = [gridjs.h("i", {className: "bi bi-funnel-fill"})]
                        filterStatsCell.props.children = [filterStatsBtn]

                        const cells = []
                        if (showFilterStatsBtn) cells.push(filterStatsBtn)
                        cells.push(d.gt_id)
                        cells.push(d.list_id)
                        cells.push(timestampToString(d.timestamp))
                        return cells
                    })
                }
            }
        })
    }
</script>
