<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.index') }}">Fidentikit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.sso_archive') }}">
                        <i class="bi bi-archive"></i>
                        <span>Archive</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.sso_stats') }}">
                        <i class="bi bi-pie-chart"></i>
                        <span>Statistics</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.sso_list') }}">
                        <i class="bi bi-list-ol"></i>
                        <span>List</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ application_root }}/docs">
                        <i class="bi bi-globe"></i>
                        <span>API Docs</span>
                    </a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" href="{{ application_root }}/openapi.json">
                        <i class="bi bi-file-earmark-code"></i>
                        <span>OpenAPI</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.code') }}">
                        <i class="bi bi-github"></i>
                        <span>Code</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.paper') }}">
                        <i class="bi bi-file-earmark-pdf"></i>
                        <span>Paper</span>
                    </a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" href="{{ url_for('views.bib') }}">
                        <i class="bi bi-quote"></i>
                        <span>Citation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.admin') }}">
                        <i class="bi bi-gear"></i>
                        <span>Admin</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
